.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.button {
  all: unset;
  color: floralwhite;
  background-color: firebrick;
  padding: 10px;
}