*, *:before, *:after {
    box-sizing: border-box;
  }

html {
    --light-font-color: #F3E6FF;
    --dark-font-color: #111315;
    --pink-blue-gradient: linear-gradient(90deg, rgba(237,217,255,1), rgba(198,218,255,1));
    --dark-pink-blue-gradient: linear-gradient(90deg, rgb(245, 230, 254), rgb(227, 236, 252));
    --background-color: #1E1B2E;
    --input-bg-color: #01010232;
    --input-border: 1px dotted #F3E6FF75;
}

body {
    background-color: var(--background-color);
    color: var(--light-font-color);
    margin: 0;
    height: 100%;
}

p {
    font-size: 16px;
    line-height: 32px;
}

input, button {
    -webkit-appearance: none;
    all: unset;
    font-size: 16px;
    font-family: var(--font-josefin), Arial, Helvetica, sans-serif;
  }

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }

a {
    color: var(--light-font-color);
}

label {
    font-size: 16px;
}

button {
    padding: 16px 24px;
    background: var(--pink-blue-gradient);
    text-align: center;
    color: var(--dark-font-color);
    font-size: 120%;
    font-weight: bold;
    border-radius: 8px;
}

button:hover {
    background: var(--dark-pink-blue-gradient);
    cursor: pointer;
}

.bottomNav {
    text-align: center;
    padding-bottom: 64px;
    padding-top: 80px;
}

/* CSS Rules for tablets & desktop */

@media screen and (min-width: 430px) {

    .page {
        width: 430px;
        padding: 32px;
    }

  }