.body {
    background-color: #1E1B2E;
    color: #F3E6FF;
    margin: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

.contentContainer {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 900px;
    padding: 32px;
}